.contact {
  margin-left: 11rem; 
  background: #070a29; 
  padding-bottom: 2.5rem;
  height: auto;
  min-height: 100vh; /* Assure une hauteur minimale de 100vh */
  box-sizing: border-box;
}

.contact_title {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  border-bottom: 0.125rem solid #5c27fe;
  box-shadow: 0rem 0.5rem 0.75rem 0.375rem #dec7ff, 
              0rem 0.25rem 0.25rem 0rem #dec7ff;
  padding: 1.25rem 0 0.625rem 6.25rem;
  margin-bottom: 2.5rem;
  margin-top: 0;
  color: #dec7ff; 
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
  margin-top: 3rem;
  background: radial-gradient(44.98% 44.98% at 53% 50%, #725bda 0, rgba(6, 19, 45, 0) 100%);

}

#contactForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}

.form_group_row {
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: 100%;
}

.form_group_row .form_group {
  flex: 1;
  max-width: 23.625rem;
}

.form_group textarea {
  width: 30rem;
}

.form_group input,
textarea {
  border-radius: 25px;
  border: 0.1rem solid #dec7ff;
  background: linear-gradient(264.28deg, #512f80 -38.2%, #070a29 103.12%);
  font-family: 'montserrat';
  font-size: 1.25rem;
  font-weight: 600;
  color: #dec7ff;
  padding: 1.3rem;
  width: 23.625rem;
  box-shadow: 0rem 0.2rem 0.75rem 0.1rem #dec7ff, 
              0rem 0.1rem 0.25rem 0rem #dec7ff;
}

.form_group input::placeholder,
textarea::placeholder {
  color: #dec7ff;
  font-family: 'montserrat';
  font-size: 1.25rem;
  font-weight: 600;
}

button {
  background: linear-gradient(264.28deg, #512f80 -38.2%, #070a29 103.12%);
  color: #dec7ff;
  padding: 0.625rem 2.5rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 0.1rem solid #dec7ff;
  border-radius: 1.5625rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0rem 0.2rem 0.75rem 0.1rem #dec7ff, 
              0rem 0.1rem 0.25rem 0rem #dec7ff;    transition: transform 0.3s ease, background-color 0.3s ease;
  overflow: hidden; 
}

button:hover {
  background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
  transform: scale(1.05);
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.icon_container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 10rem;
}

.handshake_icon,
.envelope_icon,
.location_icon,
.phone_icon {
  font-size: 3rem;
  color: #dec7ff;
}

.contact_email, 
.contact_location,
.contact_phone, 
a {
  display: flex;
  flex-direction: column;
  color: #dec7ff;
  font-weight: bold;
}

