/* Styles généraux pour .home */
.home_page {
  height: 100vh;
}

.home {
  position: relative; 
  width: 100%;
  height: 100%; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Fond de la section home */
.home::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/homePageBackground4.webp'); 
  background-size: cover; 
  background-position: center; 
  z-index: -1; 
}

/* Styles pour l'image de profil */
.home_photo {
  width: 20rem; 
  height: 20rem;
  object-fit: cover; 
  margin-top: 10rem;
  margin-bottom: 1.25rem; 

}

/* Styles pour le texte dans le paragraphe */
.home h2 {
  font-family: 'Exo 2';
  font-size: 2.5rem; 
  color: #fff;
  font-weight: 600;
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
}

/* Styles pour le texte statique (Julie AT) dans le h1 */
.home h1.static-text {
  font-family: 'Exo 2';
  font-size: 2.5rem; 
  font-weight: 600;
  color: #fff;
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 0rem;
}

/* Styles pour le texte dynamique (Développeuse Web Freelance) */
.dynamic-text {
  overflow: hidden; 
  white-space: nowrap; 
  width: 0; 
  animation: typing 10s steps(30, end) 1s infinite alternate; 
  display: inline-block;
  margin-left: 0.625rem; 
}

.highlight {
  color: #D38312;
  font-weight: bold; 
}

/* Définition de l'animation de frappe et de désécriture */
@keyframes typing {
  0% {
    width: 0; 
  }
  40% {
    width: 100%; 
  }
  70% {
    width: 100%; 
  }
  100% {
    width: 0; 
  }
}
