.navbar {
  display: flex;
  flex-direction: column;
  position: fixed; 
  top: 0;
  left: 0;
  width: 13rem;
  height: 100vh; 
  background-color: #070a29; 
  border-top-right-radius: 2.7rem; 
  border-bottom-right-radius: 2.7rem; 
  box-shadow: 0rem 0.5rem 0.75rem 0.375rem #dec7ff, 
              0rem 0.25rem 0.25rem 0rem #dec7ff;
  z-index: 10;
}

.navbar_header nav {
  display: flex;
  flex-direction: column; 
  background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
  border-top-right-radius: 2.5rem; 
}

.navbar_header nav a {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  border: 0.0625rem solid #5c27fe;
  padding: 1.25rem 1.9375rem;
  border-right: none;
  border-top: none;
  transition: background-color 0.3s ease;
}

.navbar_header nav a:hover {
  background: #dec7ff;
}

.navbar_header nav a:first-child {
  border-top-right-radius: 2.5rem;
}

.navbar_footer {
  display: flex;
  flex-direction: column; 
  background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
  margin-top: auto; 
  border-bottom-right-radius: 2.5rem;
}

.navbar_footer_link {
  display: flex;
  justify-content: center;
  border: 0.0625rem solid #5c27fe;
  border-right: none;
  gap: 1.25rem; 
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.navbar_footer_link a {
  color: #fff;
  transition: transform 0.3s ease;
}

.navbar_footer_link a:hover {
  transform: scale(1.1); 
}

.navbar_footer_mention {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
